* {
  padding: 0;
  margin: 0;
}

body {
  background: #01103d;
  margin: 20px;
  color: #fff;
}
.container {
  background: #fff;
  padding: 10px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "header      header         header"
                        "fechaseccioncia     fechaseccioncia     fechaseccioncia"
                        "pascobertura        pascobertura         pascobertura"
                        "asegurado  asegurado      asegurado"
                        "cproductor cproductor     cproductor"
                        "casegurado casegurado     casegurado";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6,1fr);
}

.logo_inn4 {
  width: 20%;
}

.container .header {
  background: #c8c8c8;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .fechaseccioncia {
  grid-area: fechaseccioncia;
  background: #28fcb7;
}
.container .pascobertura {
  grid-area: pascobertura;
  background: #28fcb7;
}

.asegurado {
  background: #3bc7e9;
  grid-area: asegurado;
}
.container .casegurado {
  background: #4c429f;
  grid-area: casegurado;
}
.container .cproductor {
  background: #4c429f;
  grid-area: cproductor;
}
h6 {
  font-size: 30px;
}
.tit_aseg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
